.container-fluid
  %h1.page-header1
    = link_to 'Language compare', config[:root_url]

  .row
    - [lang1, lang2].each_with_index do |lang_selected, index|
      .col-md-6
        .dropdown{"data-lang-side" => index + 1}
          %button.btn.btn-link.btn-lg.language-list.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %span.lang-selected{"data-lang-url" => urlized(lang_selected)} #{lang_selected}
            %span.caret
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
            - langs.each do |lang|
              %li.lang-item{"data-lang-url" => urlized(lang)}
                = link_to lang

  .row
    .col-md-6
      = partial(:content, locals: {filter: -> (hash_index, hash_size) { hash_index < hash_size }, lang1: lang1, lang2: lang2 })
    .col-md-6
      = partial(:content, locals: {filter: -> (hash_index, hash_size) { hash_index >= hash_size }, lang1: lang1, lang2: lang2 })

  .row
    .col-md-6
      %h2.compare-header2 #{lang1}
    .col-md-6
      %h2.compare-header2 #{lang2}

  - data.code.each do |section|
    - next if section_empty?(section, urlized(lang1), urlized(lang2))
    %h3.compare-header3{id: sanitize(section.first)}= section.first
    - section.last.each do |header, filenames|
      - filename1 = filenames[urlized(lang1)]
      - filename2 = filenames[urlized(lang2)]
      - next if no_files?(filename1, filename2)
      - code1 = code_from_file(filename1)
      - code2 = code_from_file(filename2)
      %h4.compare-header4
        = header
        %small
          - bookmark = sanitize("#{section.first}_#{header}")
          %a.link-unstyled{href: "##{bookmark}", id: bookmark}
            %i.glyphicon.glyphicon-link
      .row
        - no_message = 'No easy way to do that'
        .col-md-6
          = code1 || no_message
          %pre.unstyled.output.text-muted= output_file(filename1)
        .col-md-6
          = code2 || no_message
          %pre.unstyled.output.text-muted= output_file(filename2)

%span#top-link-block
  %a.scrollTop.well.well-sm{href: '#top'}
    %i.glyphicon.glyphicon-chevron-up
