.container-fluid
  %h1.page-header1
    = link_to 'Language compare', config[:site_url]

  .dropdown
    %button.btn.btn-link.btn-lg.language-list.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      #{lang1} <> #{lang2}
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      - lang_list.each do |lang_pair|
        %li
          = link_to "#{lang_pair[0]} <> #{lang_pair[1]}", "#{lang_pair[0].downcase}-#{lang_pair[1].downcase}.html"

  .row
    .col-md-6
      = partial(:content, locals: {filter: -> (hash_index, hash_size) { hash_index < hash_size }, lang1: lang1, lang2: lang2 })
    .col-md-6
      = partial(:content, locals: {filter: -> (hash_index, hash_size) { hash_index >= hash_size }, lang1: lang1, lang2: lang2 })

  .row
    .col-md-6
      %h2.compare-header2 #{lang1}
    .col-md-6
      %h2.compare-header2 #{lang2}

  - data.code.each do |section|
    %h3.compare-header3{id: sanitize(section.first)}= section.first
    - section.last.each do |header, langs_to_filenames|
      - filename1 = langs_to_filenames[lang1.downcase]
      - filename2 = langs_to_filenames[lang2.downcase]
      - next unless one_file_exist?(filename1, filename2)
      - code1 = code_from_file(filename1)
      - code2 = code_from_file(filename2)
      %h4.compare-header4
        = header
        %small
          - bookmark = sanitize("#{section.first}_#{header}")
          %a.link-unstyled{href: "##{bookmark}", id: bookmark}
            %i.glyphicon.glyphicon-link
      .row
        - no_message = 'No easy way to do that'
        .col-md-6
          = code1 || no_message
        .col-md-6
          = code2 || no_message

%span#top-link-block
  %a.scrollTop.well.well-sm{href: '#top'}
    %i.glyphicon.glyphicon-chevron-up
