.container-fluid
  %h1.page-header1
    = link_to 'Language compare', config[:site_url]


  .dropdown
    %button.btn.btn-link.btn-lg.language-list.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      = "#{lang1} <> #{lang2}"
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      - lang_list.each do |lang_pair|
        %li
          = link_to "#{lang_pair[0]} <> #{lang_pair[1]}", "#{lang_pair[0].downcase}-#{lang_pair[1].downcase}.html"

  .row
    .col-md-6
      = partial(:content, locals: {filter: -> (hash_index, hash_size) { hash_index < hash_size } })
    .col-md-6
      = partial(:content, locals: {filter: -> (hash_index, hash_size) { hash_index >= hash_size } })

  .row
    .col-md-6
      %h2.compare-header2 #{lang1}
    .col-md-6
      %h2.compare-header2 #{lang2}

  - data.code.each do |section|
    %h3.compare-header3{id: sanitize(section.first)}= section.first
    - section.last.each do |header, langs_to_filenames|
      - code1 = code_from_file langs_to_filenames[lang1.downcase] rescue nil
      - code2 = code_from_file langs_to_filenames[lang2.downcase] rescue nil
      - next if code1.nil? && code2.nil?
      %h4.compare-header4
        = header
        %small
          - bookmark = sanitize("#{section.first}_#{header}")
          %a.link-unstyled{href: "##{bookmark}", id: bookmark}
            %i.glyphicon.glyphicon-link
      .row
        - no_message = 'No easy way to do that'
        .col-md-6
          = code1 || no_message
        .col-md-6
          = code2 || no_message

%span#top-link-block
  %a.scrollTop.well.well-sm{href: '#top'}
    %i.glyphicon.glyphicon-chevron-up
