.container-fluid
  %h1.page-header1
    = link_to 'Language compare', '/'

  .dropdown
    %button.btn.btn-link.btn-lg.language-list.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      = "#{current_lang1} <> #{current_lang2}"
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      - compare_pages.each do |compare_page|
        %li
          = link_to "#{compare_page[:lang1]} <> #{compare_page[:lang2]}", compare_page[:page]

  .row
    .col-md-6
      = partial(:content, locals: {filter: -> (hash_index, hash_size) { hash_index < hash_size } })
    .col-md-6
      = partial(:content, locals: {filter: -> (hash_index, hash_size) { hash_index >= hash_size } })

  .row
    .col-md-6
      %h2.compare-header2 #{current_lang1}
    .col-md-6
      %h2.compare-header2 #{current_lang2}

  - data.code.each do |section|
    %h3.compare-header3{id: header_to_id(section.first)}= section.first
    - section.last.each do |header, code|
      %h4.compare-header4{id: header_to_id("#{section.first}_#{header}")}= header
      .row
        .col-md-6
          = code_file(code.send(current_lang1.downcase))
        .col-md-6
          = code_file(code.send(current_lang2.downcase))

%span#top-link-block
  %a.scrollTop.well.well-sm{href: '#top'}
    Top
